<div class="col-sm-10 col-sm-offset-1">
  <div class="profile-pic">
    <img src="/assets/spiral-face.png" alt="mikias abera" class="profile-picture">
  </div>
  <h1>mikias abera</h1>
  <div class="container-fluid">
    <p>Angular 2 and Ruby on Rails web developer.<p>
    <p>Passionate about blockchain and currently messing around with hyperledger.</p>
    <p>Checkout my current project, <a href="http://ethiotradestats.com">Ethio Trade Stats</a>, or get in touch at hello@mikias.net.</p>
  </div>
</div>

<div class="projects">
  <!--Only visible on mobile devices, links to next page-->
  <h3 class="text-center">current project</h3>
  <a href (click)="$event.preventDefault()"
    (click)="showEts()"
    class="btn btn-primary btn-lg btn-block project-ets">EthioTradeStats.com</a>
</div>