<div class="col-sm-10 col-sm-offset-1">
  <div class="profile-pic"
    (mouseleave)="showBrow = !showBrow">    
    <img *ngIf="!showBrow"    
      src="/assets/spiral-face.png" alt="mikias abera" class="normal-pic">
    <img *ngIf="showBrow"
      src="/assets/sup-face.png" alt="mikias abera" class="eyebrow-pic">    
  </div>
  <h1>mikias abera</h1>
  <div class="container-fluid profile-text">
    <p>Angular 2 and Ruby on Rails web developer.<p>
    <p>Checkout my current project, <a href="http://ethiotradestats.com">Ethio Trade Stats</a></p>
    <p>Say hello at hello@mikias.net.</p>
  </div>
</div>

<div class="projects">
  <!--Only visible on mobile devices, links to next page-->
  <h3 class="text-center current-project">current project</h3>
  <a href (click)="$event.preventDefault()"
    (click)="showEts()"
    class="btn btn-primary btn-lg btn-block project-ets">EthioTradeStats.com</a>
</div>