/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  overflow: hidden;
  background: #12445d;
}

// loading
.loading{
  position: absolute;
  z-index: 100;
  margin-left: 50%;
  margin-top: 10%;
}
.dot1{
  animation: dot1 1s infinite;
}
.dot2 {
  animation: dot2 1s infinite;
}
.dot3{
  animation: dot3 1s infinite;
}
