/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  overflow: hidden;
  background: #12445d;
}

// scrollbar
body::-webkit-scrollbar 
{
 width: 15px;
}
body::-webkit-scrollbar-track 
{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 border-radius:10px;
}
body::-webkit-scrollbar-thumb
{
 background-color: orange;
 border-radius:10px;
}

// loading
.loading{
  position: absolute;
  z-index: 100;
  margin-left: 50%;
  margin-top: 10%;
}
.dot1{
  animation: dot1 1s infinite;
}
.dot2 {
  animation: dot2 1s infinite;
}
.dot3{
  animation: dot3 1s infinite;
}


