.navbar{
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  position: absolute;
  z-index: 1001;
  width: 100%;
}

.blue{
  &:hover{
    background: #1b7ece;
  }
  &:focus, &:active{
    background: #186fb5;
  }
}
.green{
  &:hover{
    background: #7aca6a;
  }
  &:focus, &:active{
    background: #7aca6a;
  }
}
.brand-icon{
  padding-top: 6px;
}
.navbar-nav{
  margin: 0;
  .profile{
    position: absolute;
    top: 0;
    right: 0;
  }
  .navbar-link > a{
    font-size: large;
    &:hover {
      background: #12445d;
    }
  }
}
// Large
@media(min-width: 768px){
  .profile{
    display: none;
  }
}